{% extends 'base.html' %}

{% block title %}Деталі замовлення{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user_orders.css' %}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Ваші замовлення</h2>
        <div class="row">
            {% for order in orders %}
                <div class="col-md-4 mb-4">
                    <a href="{% url 'order-details' order.id %}" class="text-decoration-none">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ order.order.title }}</h5>
                                <p class="card-text">Дата купівлі: {{ order.created_at|date:"d M Y" }}</p>
                                <p class="card-text">Кількість моделей: {{ order.quantity }}</p>
                                <p class="card-text">Статус замовлення: <strong>{{ order.get_order_status_display }}</strong></p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

