{% extends 'base.html' %}

{% block title %}
Логін
{% endblock %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}
<div class="login-container">
    <h2 class="text-center">Логін</h2>
    <form method="POST" class="login-form">
        {% csrf_token %}

        <div class="text-danger text-center">
            {% for error in form.non_field_errors %}
                {{ error }}<br>
            {% endfor %}
        </div>

        <div class="form-group mb-3">
            <label for="email">Електронна пошта:</label>
            <input type="email" id="email" class="input-field" name="email" required value="{{ form.email.value|default:'' }}">
            <div class="text-danger text-center">
                {% for error in form.email.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="password">Пароль:</label>
            <input type="password" id="password" class="input-field" name="password" required>
            <div class="text-danger text-center">
                {% for error in form.password.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="submit-btn">Увійти</button>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'request_password_reset' %}" class="forgot-password-link">Забули пароль?</a>
            <p>Якщо у вас немає акаунту, <a href="{% url 'register' %}">зареєструйтесь</a>.</p>
        </div>
    </form>
</div>
{% endblock %}
