{% extends 'base.html' %}

{% block title %}Відновлення пароля{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/request_password_reset.css' %}">
{% endblock %}

{% block body %}
<div class="password-reset-container">
    <div class="card">
        <h2 class="card-title">Відновлення пароля</h2>
        <p class="card-text">Введіть вашу електронну пошту, і ми надішлемо вам код для відновлення.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="email">Електронна пошта</label>
                <input type="email" id="email" name="email" required>
            </div>
            {% if form.email.errors %}
                <div class="error-message">
                    {% for error in form.email.errors %}
                        <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit" class="submit-btn">Надіслати код</button>
        </form>
    </div>
</div>
{% endblock %}
