{% extends 'base.html' %}

{% block title %}Введіть код{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/password_reset_code.css' %}">
{% endblock %}

{% block body %}
<div class="password-reset-container">
    <div class="card">
        <h2 class="card-title">Введіть код підтвердження</h2>
        <p class="card-text">Ми надіслали код на вашу електронну пошту. Введіть його нижче для підтвердження.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="code">Код підтвердження</label>
                <input type="text" id="code" name="code" required>
            </div>
            {% if form.code.errors %}
                <div class="error-message">
                    {% for error in form.code.errors %}
                        <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit" class="submit-btn">Підтвердити</button>
        </form>
    </div>
</div>
{% endblock %}
