{% extends 'base.html' %}

{% block title %}Моделі{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block body %}
<h1>Список постів</h1>
<div class="post-list">
    {% for post in posts %}
    <div class="post-card">
        <!-- Лівий верхній кут: Аватар автора -->
        <div class="post-author">
            <a href="{% url 'user_profile' user_id=post.author.id %}">
                <img src="{{ post.author.avatar.url }}" alt="Аватар автора" class="author-avatar">
            </a>
            <a href="{% url 'user_profile' user_id=post.author.id %}" class="author-name">{{ post.author.first_name }}</a> <!-- Замінив на first_name -->
        </div>

        <!-- Основна частина картки: Прев'ю з назвою -->
        <div class="post-image">
            {% if post.preview_image %}
            <a href="{% url 'post_detail' post.id %}"> <!-- Додаємо посилання на деталі поста -->
                <img src="{{ post.preview_image.url }}" alt="Прев'ю" class="preview-img">
            </a>
            {% endif %}
        </div>

        <div class="card-title">{{ post.title }}</div>

        <!-- Права верхня частина: Іконка для копіювання посилання -->
        <div class="post-share">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
            </svg>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
