{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}

{% block body %}
<div class="outer-card">
  <div class="inner-card">
    <!-- Верхній колонтитул -->
    <div class="header">
      <a href="{% url 'user_profile' user_id=post.author.id %}">
          <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar">
      </a>
      <h3><a href="{% url 'user_profile' user_id=post.author.id %}" class="author-name">{{ post.author.first_name }}</a></h3>

      <!-- Кнопка видалення -->
      <button class="delete-btn" id="openModal">
        🗑 Видалити
      </button>

      <!-- Кнопка редагування з іконкою -->
      <a href="{% url 'edit_post' post.id %}" class="edit-btn">
          ✏ Редагувати
      </a>

      <!-- Форма для додавання/видалення куба -->
      <form action="{% url 'toggle_cube' post.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="add-cube-btn">
              {% if user in post.likes.all %}
                  ❌ Відняти куб
              {% else %}
                  🟩 Додати куб
              {% endif %}
          </button>
      </form>

    <span>Куби: {{ post.cubes }}</span>

    </div>

    <!-- Модальне вікно -->
    <div id="deleteModal" class="modal">
      <div class="modal-content">
        <p>Ви впевнені, що хочете видалити цей пост?</p>
        <form method="POST" action="{% url 'delete_post' post.id %}">
          {% csrf_token %}
          <div class="modal-buttons">
            <button type="submit" class="confirm-delete">Так, видалити</button>
            <button type="button" class="close-modal" id="closeModal">Скасувати</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Зовнішня картка для медіа та кнопок -->
    <div class="carousel-outer-card">
      <!-- Картка з кнопками і медіа -->
      <div class="carousel-container">
        <!-- Картка з медіа -->
        <div class="media-card">
          <div id="carouselExample" class="carousel">
            <div class="carousel-inner">
              {% for media in media_files %}
              <div class="carousel-item{% if forloop.first %} active{% endif %}">
                <img src="{{ media.file.url }}" class="d-block" alt="Media">
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Кнопки управління -->
        <div class="carousel-controls">
          <button class="carousel-control-prev" id="prevBtn" aria-label="Previous">
            &#10094;
          </button>
          <button class="carousel-control-next" id="nextBtn" aria-label="Next">
            &#10095;
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="outer-card">
<!-- Картка з деталями та файлами -->
<div class="details-card">
  <div class="tabs">
    <button class="tab-button active" data-target="details">Деталі моделі</button>
    <button class="tab-button" data-target="files">Файли</button>
    <button class="tab-button" data-target="comments">Коментарі</button>
  </div>

  <!-- Деталі моделі -->
  <div class="tab-pane details active" id="details">
    <h3>Деталі моделі</h3>
    <p class="model-description">{{ post.description }}</p>
    <p><strong>Категорія:</strong> <span class="category">{{ post.category }}</span></p>
  </div>

  <!-- 3D файли -->
  <div class="tab-pane files" id="files">
    <h2>3D файли:</h2>
    {% for object_3d in object_3d_files %}
      <div class="file-item">
        <span class="file-name">{{ object_3d.file.name }}</span> <!-- Назва файлу -->
        <a href="{{ object_3d.file.url }}" class="download-link" download>Скачати 3D файл</a>
      </div>
    {% empty %}
      <p class="no-files">3D файли не знайдені.</p>
    {% endfor %}
  </div>

  <!-- Коментарі -->
  <div class="tab-pane comments" id="comments">
    <h3>Коментарі:</h3>
    <!-- Форма для додавання коментаря -->
    <form method="post" action="{% url 'add_comment' post.id %}">
        {% csrf_token %}
        <div class="comment-input-container">
            <textarea name="content" class="comment-input" rows="3" placeholder="Напишіть коментар..." required></textarea>
            <button type="submit" class="send-button">Відправити</button>
        </div>
    </form>

    <!-- Відображення коментарів -->
    <div class="comments-section">
        {% for comment in comments %}
            <div class="comment-card">
                <div class="comment-header">
                    <img src="{{ comment.author.avatar.url }}" alt="Avatar">
                    <strong>{{ comment.author.first_name }}</strong>
                    {% if comment.author == post.author %}
                        <span class="post-author">Автор поста</span>
                    {% endif %}
                </div>
                <p>{{ comment.content }}</p>
                <small>{{ comment.created_at|date:"d.m.Y H:i" }}</small>

                <!-- Кнопки -->
                <div class="comment-actions">
                    <form class="cube-form" data-comment-id="{{ comment.id }}" action="{% url 'toggle_cube_for_comment' comment.id %}" method="post">
                        {% csrf_token %}
                        <span class="cube-button" data-comment-id="{{ comment.id }}">
                            🧊 <span class="cube-count">{{ comment.cubes }}</span>
                        </span>
                    </form>
                    {% if comment.author == user %}
                        <button class="delete-comment-button" data-comment-id="{{ comment.id }}">🗑️</button>
                    {% endif %}
                    <button class="reply-button" data-comment-id="{{ comment.id }}">Відповісти</button>
                </div>

                <!-- Модальне вікно для видалення -->
                <div id="deleteCommentModal" class="modal">
                    <div class="modal-content">
                        <span class="close-modal">&times;</span>
                        <h2>Ви впевнені, що хочете видалити цей коментар?</h2>
                        <!-- Форма для видалення коментаря -->
                        <form id="delete-comment-form" action="{% url 'delete_comment' comment.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comment_id" id="comment_id" value="{{ comment.id }}">
                            <button type="submit" class="confirm-delete-button">Так, видалити</button>
                            <button type="button" class="cancel-delete-button">Скасувати</button>
                        </form>
                    </div>
                </div>


                <!-- Форма відповіді -->
                <div class="reply-form" id="reply-form-{{ comment.id }}" style="display: none;">
                    <form method="post" action="{% url 'add_comment' post.id %}">
                        {% csrf_token %}
                        <div class="comment-input-container">
                            <textarea name="content" class="comment-input" rows="2" placeholder="Ваша відповідь..." required></textarea>
                            <button type="submit" class="send-button">Відправити</button>
                        </div>
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    </form>
                </div>

                <!-- Відповіді на коментар -->
                {% for reply in replies %}
                    {% if reply.parent.id == comment.id %}
                        <div class="reply-card">
                            <div class="comment-header">
                                <img src="{{ reply.author.avatar.url }}" alt="Avatar">
                                <strong>{{ reply.author.first_name }}</strong>
                                {% if reply.author == post.author %}
                                    <span class="post-author">Автор поста</span>
                                {% endif %}
                            </div>
                            <p><span class="reply-to">@{{ reply.parent.author.first_name }}</span> {{ reply.content }}</p>
                            <small>{{ reply.created_at|date:"d.m.Y H:i" }}</small>

                            <!-- Кнопки для відповідей -->
                            <div class="comment-actions">
                                <form class="cube-form" data-comment-id="{{ reply.id }}" action="{% url 'toggle_cube_for_comment' reply.id %}" method="post">
                                    {% csrf_token %}
                                    <span class="cube-button" data-comment-id="{{ reply.id }}">
                                        🧊 <span class="cube-count">{{ reply.cubes }}</span>
                                    </span>
                                </form>
                                {% if reply.author == user %}
                                <!-- Кнопка для видалення відповіді -->
                                <button class="delete-reply-button" data-reply-id="{{ reply.id }}">🗑️</button>
                                {% endif %}
                                <button class="reply-button" data-comment-id="{{ reply.id }}">Відповісти</button>
                            </div>

                            <!-- Модальне вікно для видалення -->
                            <div id="deleteReplyModal" class="modal">
                                <div class="modal-content">
                                    <span class="close-modal">&times;</span>
                                    <h2>Ви впевнені, що хочете видалити цю відповідь?</h2>
                                    <!-- Форма для видалення відповіді -->
                                    <form id="delete-reply-form" action="{% url 'delete_reply' reply.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="reply_id" id="reply_id">
                                        <button type="submit" class="confirm-delete-button">Так, видалити</button>
                                        <button type="button" class="cancel-delete-button">Скасувати</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Форма для відповідей на відповіді -->
                            <div class="reply-form" id="reply-form-{{ reply.id }}" style="display: none;">
                                <form method="post" action="{% url 'add_comment' post.id %}">
                                    {% csrf_token %}
                                    <div class="comment-input-container">
                                        <textarea name="content" class="comment-input" rows="2" placeholder="Ваша відповідь..." required></textarea>
                                        <button type="submit" class="send-button">Відправити</button>
                                    </div>
                                    <input type="hidden" name="parent_id" value="{{ reply.id }}">
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% empty %}
            <p>Поки що немає коментарів.</p>
        {% endfor %}
    </div>

</div>




</div>
</div>

<script src="{% static 'js/post_detail.js' %}"></script>

{% endblock %}
