{% extends 'base.html' %}

{% block title %}Головна{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="welcome-heading">Ласкаво просимо на наш сайт!</h1>
        <p class="intro-text">
            Наш сайт пропонує широкий спектр можливостей для всіх, хто цікавиться 3D-друком. Ми спеціалізуємося на наданні послуг замовлення 3D-друку, де ви можете завантажувати свої моделі, налаштовувати параметри друку, а також переглядати різноманітні пости на теми, пов'язані з 3D-друком.
        </p>

        <div class="section">
            <h2>Що ви знайдете на нашому сайті:</h2>
            <ul>
                <li>Сторінка постів - корисні статті та новини з світу 3D-друку.</li>
                <li>Замовлення 3D-друку - завантажуйте модель, вибирайте матеріал та налаштовуйте параметри друку.</li>
            </ul>
        </div>

        <div class="section">
            <h2>Чому варто обрати нас:</h2>
            <ul>
                <li>Якість - гарантуємо високу якість друку завдяки сучасним 3D-принтерам.</li>
                <li>Широкий вибір матеріалів - від стандартних до спеціалізованих.</li>
                <li>Швидкість виконання - ваші замовлення будуть готові в найкоротші терміни.</li>
                <li>Підтримка - завжди готові допомогти вам з усіма питаннями.</li>
            </ul>
        </div>

        <p class="cta-text">
            Приєднуйтесь до нас і почніть друкувати вже сьогодні! Якщо у вас є питання або пропозиції, не соромтесь звертатися до нас через контактну форму або на електронну пошту.
        </p>
    </div>
{% endblock %}

